# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
logs/

# Environment variables
.env
.env.local

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Test coverage
coverage/
ssh_host_rsa_key
ssh_host_rsa_key.pub
